<div class="minCartProduct">
    <img src="#" />
    <div class="productData">
        <div class="productDetail">
            <div class="productName"></div>
            <div class="productPrice"></div>
        </div>
        <div class="productControls">
            <button class="addQuantity"></button>
            <input class="quantity" />
            <button class="removeQuantity"></button>
            <button class="removeProduct">Eliminar</button>
        </div>
    </div>
</div>






<div id="header" class="btnLogin">
    <input class="buscador">
</div>

</div>

<i>
    <div class="fa">
        <span class="icon2">
            Texto
        </span>        
    </div>
</i>

<i class="fa icon2"></i>

<style>
    i .fa .icon2 {

    }

    i.fa.icon2 {

    }
</style>