<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <header class="header">
		<!--ENCABEZADO-->
		<div id="encabezado"><a href="#"> <img src="/images/logo-mercado-liebre.svg" alt="Logo"></a>
			<input type="text" name="busqueda" placeholder="Buscar productos, marcas y mas"><i
				class="fas fa-search"></i>
			<h2>Comprá en cuotas y sin tarjeta de crédito</h2>
			<ul>
				<li><a href="#Ofertas">Ofertas</a></li>
				<li><a href="/Tiendas">Tiendas Oficiales</a></li>
				<li><a href="/Vender">Vender</a></li>
				<li><a href="/Ayuda">Ayuda</a></li>
				<br>
				<li><a href="/Registro">Creá tu cuenta</a></li>
				<li><a href="/Loguin">Ingresá</a></li>
				<li><a href="/miscompras">Mis Compras</a></li>
			</ul>
			<section id="seccion-banner">
				<img class="Header" src="/images/img-home-banner.jpg" alt="Header">
			</section>
		</div>
	</header>
    
</body>
</html>