<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/styleslimpio.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
</head>

<body>
    <header>
        <div class="logo">

            <a href="#"> <img src="/images/logo-mercado-liebre.svg" alt="Logo"></a>

            <div class="lupita">
                <form action="">
                    <input type="text" name="busqueda" placeholder="Buscar productos, marcas y mas">
                </form>
                <i class="fas fa-search"></i>
            </div>
        </div>

        <div class="subtitulo">
            <h2>Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>


        <nav class="menu-nav">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta</a></li>
                <li><a href="/login">Ingresá</a></li>
                <li><a href="#">Mis Compras</a></li>
            </ul>
            <div class="b-menu"><i class="fas fa-bars"></i></div>

        </nav>


    </header>
    <main>
        <div>
            <form action="index.html " method="GET "></form>
            <label for="nombreyapellido "></label></p>
            <input type="text " id="nombreyapellido " name="nombreyapellido " class="button" placeholder="Nombre y apellido "></p>
        </div>
        <div>
            <form action="index.html " method="GET "></form>
            <label for="nombreusuario "></label>
            <input type="text " id="nombreusuario " name="nombreusuario " class="button" placeholder="Nombre de Usuario ">
        </div>
        <div>
            <form action="index.html" method="GET">Fecha de Nacimiento</form>
            <label for="fechaNacimiento"></label>
            <input type="date" id="fechaNacimiento" class="button">
        </div>
        <div>
            <form action="index.html " method="GET "></form>
            <p><label for="email "></label></p>
            <p><input type="email " id="email " name="email " class="button" placeholder="Email "></p>
        </div>
        <div>
            <p class="textoGral"><label for=" ">Perfil del Usuario</label></p>
            <label><input type="radio" name="vendedor" value="vendedor">Vendedor</label>
            <label><input type="radio" name="comprador" value="comprador">Comprador</label>

        </div>
        <div class="intereses-button">
            <label for=" " class="textoGral">Intereses</label></p>
            <label><input type="checkbox" name="intereses " id="electro "> Electro</label>
            <label><input type="checkbox" name="intereses " id="moda "> Moda </label>
            <label><input type="checkbox" name="intereses " id="hogar "> Hogar </label>
            <label><input type="checkbox" name="intereses " id="juguetería ">Juguetería</label>
            <label><input type="checkbox" name="intereses " id="vidasana "> Vida Sana </label>
        </div>
        <div class="button">
            <button type="submit ">Enviar</button>
            <button type="reset ">Borrar</button>
        </div>
    </main>

    <footer class="footer ">
        <section>
            <article>
                <i class="far fa-credit-card "></i>
                <p class="textoGral ">Pagá con tarjeta o en efectivo</p>
                <br>
                <p> Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                <br>
            </article>
            <article>
                <i class="fas fa-gift "></i>
                <br>
                <p class="textoGral ">Envío gratis desde los $ 2.500</p>
                <br>
                <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de MercadoPuntos.</p>
            </article>
            <br>
            <article>
                <i class="fas fa-user-shield "></i>
                <br>
                <p class="textoGral ">Seguridad, de principio a fin</p>
                <br>
                <p class="textoGral ">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
                <br>
            </article>
            <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>